<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reset E-mail</title>
</head>
<body>
<p>Reset link:</p>
<p><a href="<%= resetLink %>"><%= resetLink %></a></p>
</body>
</html>
